{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{% static 'css/style1P.css' %}" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <img class="icon-mail" src="{% static 'img/icon-mail.png' %}"/>
        <div class="overlap-group">
          <p class="heading">All the books you love in one Place</p>
          <img class="element" src="{% static 'img/6737455-1.svg' %}" />
          <div class="text-wrapper">Discover Your Next Read</div>
        </div>
        <div class="libraloom-heading">LibraLoom</div>
        <div class="welcome-heading">Welcome to Library</div>
        <p class="login-signup-heading">Log in or Signup for account</p>
        <div class="small-button">
          <button class="button"><div class="text-wrapper-2">Username</div></button>
        </div>
        <div class="password-button">
          <button class="button"><div class="text-wrapper-2">Password</div></button>
        </div>
        <img class="facebook-logo" src="{% static 'img/facebook-logo.png' %}" />
        <img class="google-logo" src="{% static 'img/google-logo.png' %}" />
        <div class="text-wrapper-3">Or Signup Using</div>
        <img class="g" src="{% static 'img/g-8.png' %}"/>
        <div class="frame"><div class="text-wrapper-4">Login</div></div>
      </div>
    </div>
  </body>
</html>
