{% extends 'LibraLoom/templates/LibraLoom/base.html' %}
{% block title %}Book Details{% endblock %}
{% block content %}
<style>
    .book-image {
        max-width: 200px; /* Set a consistent width */
        height: auto; /* Maintain aspect ratio */
        /* Add any additional styling if needed */
    }
</style>

<div class="container mt-5">
    <h3 class="text-center mb-4">Advanced Search</h3>
    <p class="text-center">"📚 You can search for any book using its title, author, and category in our library. You can also reserve a book here! 📖✨"</p>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="row border p-3">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.author.label_tag }}
                    {{ form.author }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>

    <h3 class="mt-4">Search Results:</h3>
    <div class="border rounded p-3">
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <h3>{{ book.title }}</h3>
                            <p>Author: {{ book.author }}</p>
                            <p>Category: {{ book.category }}</p>
                            <p>ISBN: {{ book.ISBN }}</p>
                            <p>Publication Date: {{ book.publication_date }}</p>
                            <p>Language: {{ book.language }}</p>
                            {% if book.book_Availability %}
                                <p class="text-success">This book is available.</p>
                                <form method="post" action="{% url 'reserve_book' book.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info">Reserve Book</button>
                                </form>
                            {% else %}
                                <p class="text-danger">This book is not available.</p>
                            {% endif %}
                        </div>
                        <div class="align-self-end p-3" style="border: 0px solid #000; padding: 20px;">
                            <img src="{{ book.book_image.url }}" alt="{{ book.title }}" class="img-fluid border book-image" style="max-width: 200px; height: auto; float: right;">
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
