{% extends 'LibraLoom/templates/LibraLoom/base.html' %}

{% block title %}Any Book{% endblock %}

{% block content %}
    <div class="container">
        <h3>Any Book Details and Download links</h3>
        <p class="lead">"I'm your literary guide, ready to recommend great books or provide information. 📚  I can assist with downloads, but let's explore the wonderful world of literature together! 🌍✨</p>
        <p class="lead">Attetion-We only provide download link for book you need to use download link in tor browser.</p>

        <h3>Search for a Book</h3>
        <br>
        <form method="post" action="{% url 'search_book' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" name="search_query" class="form-control" placeholder="Enter book title">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <br>
        <h3>Search Results</h3>
        <div class="row">
            {% for book in results|slice:":10" %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.Title }}</h5>
                            <p class="card-text">
                                <strong>Author:</strong> {{ book.Author }}<br>
                                <strong>Publisher:</strong> {{ book.Publisher }}<br>
                                <strong>Year:</strong> {{ book.Year }}<br>
                                <strong>Pages:</strong> {{ book.Pages }}<br>
                                <strong>Language:</strong> {{ book.Language }}<br>
                                <strong>Size:</strong> {{ book.Size }}<br>
                                <strong>Extension:</strong> {{ book.Extension }}<br>
                            </p>
                            <a href="{{ book.Mirror_1 }}" class="btn btn-primary" target="_blank">Download</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
