{% extends 'LibraLoom/templates/LibraLoom/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="border p-4 rounded">
            <h1 class="mb-4">Profile</h1>
            <p class="lead">"🎉 Welcome! Explore your member details and reservations here. If you're a new user, reach out to the library 📚 to get started with registration. Happy reading! 📖" </p>
        </div>

        {% if user.is_authenticated %}
            <div class="border p-4 rounded mt-4">
                <h2>User and Member Details</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-1"><strong>Username:</strong> {{ user.username }}</p>
                        <p class="mb-1"><strong>Email:</strong> {{ user.email }}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-1"><strong>Address:</strong> {{ user.member.address }}</p>
                        <p class="mb-1"><strong>Phone Number:</strong> {{ user.member.phone_number }}</p>
                        <p class="mb-1"><strong>Date of Birth:</strong> {{ user.member.member_dob }}</p>
                        <p class="mb-1"><strong>Member Id:</strong> <strong>{{ user.member.member_id }}</strong></p>
                    </div>
                </div>
            </div>

            <div class="border p-4 rounded mt-4">
                <h2>Reservation Details</h2>
                {% for reservation in user.member.reservation_set.all %}
                    <p class="mb-1"><strong>Book:</strong> {{ reservation.book.title }}</p>
                    <p class="mb-1"><strong>Reserved At:</strong> {{ reservation.reserved_at }}</p>
                    <p class="mb-1"><strong>Due Date:</strong> <span style="color: red;">{{ reservation.due_date }}</span></p>
                    <p class="mb-1"><strong>Status:</strong> {{ reservation.status }}</p>

                    <!-- Add other reservation details as needed -->
                    <hr>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
